@font-face {
  font-family: PokemonSolid;
  src: url("../fonts/PokemonSolidNormal.ttf") format("truetype");
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.button-container button {
  font-family: PokemonGB;
  /* font-family: PokemonSolid; */
  /* padding: 10px 20px 10px 20px; */
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  border-width: 0;
  box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.1);
}

.species-quantity {
}
.species-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
