@font-face {
  font-family: "Flexo-Demi";
  src: url("../fonts/Flexo-Demi.ttf");
}
@font-face {
  font-family: "Flexo-Medium";
  src: url("../fonts/Flexo-Medium.ttf");
}
@font-face {
  font-family: "Flexo-Bold";
  src: url("../fonts/Flexo-Bold.ttf");
}
@font-face {
  font-family: "Flexo-HeavyIt";
  src: url("../fonts/Flexo-HeavyIt.ttf");
}
@font-face {
  font-family: "Flexo-W01";
  src: url("../fonts/Flexo-W01-Black.ttf");
}

.pokemon-card {
  cursor: pointer;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 180px;
  margin: 10px;
  transition: transform 0.2s;
}
.pokemon-card:hover {
  transform: scale(1.05);
}
.pokemon-img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  justify-items: center;
}

.pokemon-name {
  font-family: "Flexo-Demi";
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 10px;
}
.pokemon-types {
  font-family: "Flexo-Medium";
  display: flex;
  justify-content: center;
  gap: 10px;
}
.pokemon-type {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}
