* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.logo {
  width: 200px;
  height: auto;
  margin: 20px 0;
  cursor: pointer;
}

.searchbar {
  width: 500px;
}

.pokemon-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 0 10px;
  justify-content: center;
}
.pokemon-block {
  animation: animateIn ease-in-out;
}
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
  }
}
.pokemon-list.hidden {
  opacity: 0;
}

.sidebar {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #f0f0f0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000; /* Ensure it's above other elements */
  transform: translateX(100%); /* Off-screen */
  transition: transform 0.3s ease-in-out;
}
.sidebar.open {
  transform: translateX(0); /* Slide in */
}
.sidebar-toggle {
  display: none; /* Hidden by default, will show on mobile */
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: transparent; /* Remove button background */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor for interaction */
  z-index: 900; /* Above the sidebar */
  padding: 10px; /* Padding for touch targets */
}
.sidebar-toggle .bar {
  display: block;
  width: 25px; /* Width of the bars */
  height: 3px; /* Height of the bars */
  margin: 5px 0; /* Space between bars */
  background-color: #333; /* Bar color */
  transition: 0.3s ease-in-out; /* Animation for bar transform */
}
.sidebar-toggle.hidden {
  display: none;
}
.close-sidebar {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  font-size: 40px; /* Increase size for visibility */
  cursor: pointer;
}
.close-sidebar:hover {
  color: #555; /* Change color on hover */
}
.gen-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

@media (max-width: 1300px) {
  .pokemon-list {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
}

@media (max-width: 1150px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .sidebar-toggle {
    display: block;
  }
  .sidebar {
    display: block;
  }
  .gen-buttons {
    display: none;
  }
  .searchbar {
    width: 400px;
  }
}
@media (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .searchbar {
    width: 300px;
  }
}

/* Add more columns for larger screens */
