* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #efefbb;
  background: linear-gradient(to right, #d4d3dd, #efefbb);
}

@font-face {
  font-family: PokemonGB;
  src: url("./fonts/PokemonGb-RAeo.ttf") format("truetype");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.logo {
  width: 200px;
  height: auto;
  margin: 20px 0;
  cursor: pointer;
}

.pokemon-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 0 10px;
  justify-content: center;
}
.pokemon-block {
  animation: animateIn ease-in-out;
}
@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
  }
}
.pokemon-list.hidden {
  opacity: 0;
}
@media (max-width: 1300px) {
  .pokemon-list {
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
  }
}

@media (max-width: 1150px) {
  .pokemon-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 900px) {
  .pokemon-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .pokemon-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .pokemon-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Add more columns for larger screens */
